.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header style */

.header{
    background-image: url( '../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat no-repeat;
    background-position: center left, bottom right; 
}

/* shared style */
.text-primary{
    color: #fd6e0a;
}

.secondary-bg{
    background-color: #FFF8F3;

}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

.text-center{
    text-align: center;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 226px 230px;
}


.nav-title{
    font-weight: 800;
    font-size: 45px;
}


nav ul li{
    list-style: none;
    margin-right: 50px;
}


/* display flex Parents */
nav ul{
    display: flex;
    align-items: center;
}


/* ancor style */
nav li a{
    text-decoration: none;
    font-size: 20px;
}


/* font color */
.dark-2{
    color: #474747
}


/* button style */
.btn-primary{
    background-color: #fd6e0a;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 36px 19px 35px;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
}


/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content{
    max-width: 580px;
}


.banner-greetings{
   font-size: 45px; 
   font-weight: 600;
}


.banner-title{
    font-weight: bold;
    font-size: 85px;
}

.banner-description{
    font-size: 18px;
    color: #757575;
}


.banner-profile-pic{
    width: 585px;
    
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;

}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 156px;
    text-align: center;  
}


.about-items{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #757575;
}

.item-description{
    font-weight: 600;
    font-weight: bold;
}


.section-description{
    margin-bottom: 30px;
    padding: 5px;
}


/* skills section style */
.skills-container{
    display: flex;
    gap: 24px;
    margin-top: 80px;
}


.skill{
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}


/* resume section style */
.resume-container{
    display: flex;
    gap: 24px;
}

.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.experience-sub-title{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 20px;
}

.experience-description{
    color: #757575;
}

.resume-download-cv{
    margin-top: 50px;
}

/* footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column, .footer-column{
    width: 50%;
}

.footer-column a{
    margin-right: 25px;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    width: 100%;
    height: 64px;
    font-size: 17px;
    border-radius: 5px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

/* Responsive media query */
.hide{
    display: none;
}
@media screen and (max-width: 576px) {
    .skills-container,
    .resume-container,
    footer,
    .about-items,
    .banner,
    nav,
    nav > ul{
        flex-direction: column;
    }
    nav > ul{
        gap: 10px;
    }
    .banner, nav, .nav-title{
        margin: 10px;
    }
    .nav-title{
        margin-top: 10px;
    }
    .banner-profile-pic{
        width: 100%;
        margin-top: 20px;
    }
    .banner-greetings{
        margin-bottom: 0px;
    }
    .banner-title{
        font-size: 60px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .banner-description{
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .btn-primary{
        margin-top: 20px;
        margin-bottom: 5px;
    
    }
    
    .header{
        background-image: none;
    }
    footer, .about{
        padding: 20px;
    }
    .skills, .resume{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .about{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .skills-container{
        margin-top: 8px;
        margin-bottom: 8px;
        gap: 8px;
    }
    .footer-column{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .footer-icon{
        margin-bottom: 0px;
    }
    footer{
        margin-top: 30px;
        margin-bottom: 255px;
    }
    .section-title{
        margin-top: 0px;
    }

    footer input[type="text"], footer input[type="email"], footer textarea{
        width: calc(100% - 40px);
    }
    
}